    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background:#8b5cf6;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    header {
      background: #0f172a;
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
    }

    header h1 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }

    nav a {
      margin-left: 20px;
      text-decoration: none;
      color: #cbd5e1;
      font-size: 14px;
      transition: 0.2s;
    }

    nav a:hover {
      color: white;
    }

    .container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .card {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 12px;
      padding: 30px;
      max-width: 400px;
      width: 100%;
      backdrop-filter: blur(10px);
      text-align: center;
    }

    .icon {
      width: 60px;
      height: 60px;
      margin: 0 auto 15px;
      background: #e11d48;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon svg {
      width: 30px;
      height: 30px;
      fill: white;
    }

    h2 {
      color: white;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
      text-align: left;
    }

    .form-group label {
      color: white;
      font-size: 14px;
      display: block;
      margin-bottom: 5px;
    }

    input, select, textarea {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.2);
      color: white;
      font-size: 14px;
      outline: none;
      box-sizing: border-box;
    }

    textarea {
      height: 80px;
    }

    select option {
      background: #0f172a;
      color: white;
    }

    input::placeholder,
    textarea::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    button {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      border: none;
      border-radius: 6px;
      background: #e11d48;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s;
    }

    button:hover {
      background: #8b5cf6;
    }

    .links {
      margin-top: 20px;
    }

    .links a, .links button {
      display: block;
      font-size: 13px;
      color: #ffffff;
      background: none;
      border: none;
      cursor: pointer;
      margin-top: 5px;
      text-decoration: none;
      transition: 0.2s;
    }

  .input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon input {
  width: 100%;
  padding-right: 35px; /* espaço para o ícone */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
